.logout-btn {
    margin-top: auto; /* Memastikan tombol berada di bawah */
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.3s;
}

.logout-btn i {
    margin-right: 8px;
}

.logout-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
