html, body {
    height: 100%;
}
  
body {
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(to bottom, #fe2b9f, #e91010);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
  
  .container {
    max-width: 580px;
    width: 100%;
    text-align: center;
    padding-bottom: 120px;
  }
  
  .logo {
    width: 95px;
    margin: 20px auto;
    margin-top: 50px;
  }
  
  .logo img {
    width: 100%;
  }
  
  .name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .tagline {
    font-size: 18px;
    color: #fce7f3;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .link-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c50f0f;
    border: 2px solid #c50f0f;
    border-radius: 8px;
    padding: 20px 25px;
    margin: 10px 0;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 20px;
  }
  
  .link-button:hover {
    background-color: transparent;
    color: #c50f0f;
  }
  
  .link-text {
    flex: 1;
    text-align: center;
  }
  
  .dots {
    font-size: 20px;
    color: #ffffff;
  }
  
  .car-image {
    width: 100%;
    margin-top: 30px;
    border-radius: 12px;
  }
  
  footer {
    margin-top: 40px;
    font-size: 12px;
    color: #ffe4e6;
  }
  
  .promo-card {
    position: relative;
    width: 100%;
    margin: 20px auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: none;
  }
  
  .promo-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
  }

  .car-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
    margin-top: 0px;
  }
  
  
  .promo-text {
    color: white;
    font-size: 18px;
    text-shadow: 0 0 5px rgba(0,0,0,0.7);
  }
  
  .promo-dots {
    color: white;
    font-size: 24px;
    padding-right: 5px;
  }

  .social-icons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  
  .social-icons a {
    color: white;
  }

  .social-icons svg {
    width: 27px;
    height: 27px;
    transition: transform 0.2s;
  }
  
  .social-icons a:hover svg {
    transform: scale(1.15);
  }
  
  